<!--
  ~ Copyright (c) 2020 Oracle and/or its affiliates.
  ~
  ~ Licensed under the Universal Permissive License v 1.0 as shown at
  ~ http://oss.oracle.com/licenses/upl.
  -->

<settings>

  <servers>
    <server>
      <id>synoki-nexus</id>
      <username>${env.MAVEN_USER}</username>
      <password>${env.MAVEN_PASSWORD}</password>
    </server>
  </servers>

  <profiles>

    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>synoki-nexus</id>
          <url>https://nexus.synoki.io/repository/maven/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>synoki-nexus</id>
          <url>https://nexus.synoki.io/repository/maven/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>ossrh-staging</id>
      <repositories>
        <repository>
          <id>ossrh-staging</id>
          <name>OSS Sonatype Staging</name>
          <url>https://oss.sonatype.org/content/groups/staging/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>ossrh-staging</id>
          <name>OSS Sonatype Staging</name>
          <url>https://oss.sonatype.org/content/groups/staging/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>

  </profiles>

  <activeProfiles>
    <activeProfile>default</activeProfile>
    <activeProfile>ossrh-staging</activeProfile>
  </activeProfiles>

</settings>
