name: Java CI

on:
  push:
    branches:
      - helidon-1.x
  pull_request:
    branches:
      - helidon-1.x
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      env:
        MAVEN_USER: ${{ secrets.MavenUser }}
        MAVEN_PASSWORD: ${{ secrets.MavenPassword }}
      run: mvn -B install --file pom.xml -s .github/maven/settings.xml -DenableAssertions=false
    - name: Push images to DockerHub
      env:
        MAVEN_USER: ${{ secrets.MavenUser }}
        MAVEN_PASSWORD: ${{ secrets.MavenPassword }}
        DOCKER_USER: ${{ secrets.DockerUser }}
        DOCKER_PASSWORD: ${{ secrets.DockerPassword }}
      run: mvn package --file pom.xml -s .github/maven/settings.xml -Pdocker -DenableAssertions=false -DskipTests -Ddocker.repo=helidonsockshop -Djib.goal=build -Djib.to.auth.username=$DOCKER_USER -Djib.to.auth.password=$DOCKER_PASSWORD
      if: github.event_name == 'push'
